* {
    margin: 0;

}

body {
    display: flex;
    flex-direction: column;
    height: 100vh

}

/*Header*/
.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 30 px;
    align-items: center;
   
}

.header a {
    margin-right: 20px;
    color: black 
font-size 15px;
text-decoration: inherit;
    
}

.header a:hover {
    text-decoration: underline;
}

.header__right {
    display: flex;
    align-items: center;
    min-width: 13vw
    justify-content space-between;

}

.header__right .header__apps {
    margin-right: 10px;
}

.mainBody {
    flex: 1;
    dispaly: flex
   

}