

body {
    display: flex;
    flex-direction: center;
    height: 100vh
    
}

/*Header*/
.header {
    display: flex;
    justify-content: center;
    padding: 20px 30 px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    align-content: stretch;
    gap: 10px;
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 10px;
   
}

.header a {
    margin-center: 20px;
    color: black 
font-size 15px;
display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 10px;

    
}

.header a:hover {
    text-decoration: underline;
}

.header__right {
    display: flex;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    align-content: stretch;
    gap: 10px;
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 10px;

}
    
   

.mainBody {
    display: flex;
    flex-direction: row;
    justify-content: space-between,
    gap: 10px,
    border-radius: 8px,
    padding: 10px,
    height: 1000px;
 
}

